html {
  background-color: rgb(178, 196, 205);
}

body {
  max-width: 320px;
  margin: auto;
  background-size: 315px;
  background-position: center;
}

@font-face {
  font-family: "Blank River";
  src: url(../fonts/Blank\ River\ 2.ttf); 
}

img {
  display: block;
  max-width: 100%;
}

header h1 {
  text-align: center;
  color: white;
  background-color: black;
  padding: 15px;
  margin: 0;
}

h1 {
  font-family: "Blank River", Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 300;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/Fond/texture-sol.jpg);
  background-size: cover;
  padding: 10px;
}

a {
  padding-bottom: 10px;
  font-family: "Blank River", Arial, Helvetica, sans-serif;
  color: #3e78bc;
  font-size: 25px;
  padding: 5px;
}

a:hover {
  text-decoration: none;
}

.bulle-grise {
  border-radius: 0;
  background-color: #848484;
  padding: 10px;
  margin: 0;
}

.text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin: 30px 20px 20px 20px;
}

h2 {
  font-family: "Blank River", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: white;
  margin: 0;
}

hr {
  margin: 0 110px;
  margin-bottom: 20px;
}

.mur {
  background: url(../img/Fond/texture-mur.jpg);
  padding-top: 20px;
  padding-bottom: 10px;
}

.container-carousel {
  overflow: hidden;
}

.carousel {
  width: 380px;
  margin: auto;
  display: flex;
  flex-flow: row;
  position: relative;
  animation: carousel linear 7s infinite;
}

@keyframes carousel {

  0%,
  40% {
    transform: translateX(-50px)
  }

  45%,
  80% {
    transform: translateX(-425px)
  }

  85%,
  100% {
    transform: translateX(-820px)
  }
}

h3 {
  color: #3e78bc;
  font-family: "Blank River", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin: 20px 10px 20px 10px;
}

.Text-color {
  color: white;
  margin-bottom: 20px;
}

.bulle-claire {
  background: url(../img/Fond/texture-claire.jpg);
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 0;
}

.sol {
  background: url(../img/Fond/texture-sol.jpg);
  padding-top: 10px;
  padding-bottom: 5px;
}

.marbre {
  background: url(../img/Fond/texture-marbre.jpg);
  padding-top: 20px;
  padding-bottom: 60px;
}

.food {
  margin-top: 60px;
  border-radius: 0px;
  border-radius: 0px;
  background: white;
  padding-bottom: 10px;
}

.Text-center {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 300;
}

footer {
  border-radius: 0;
  background: #848484;
  padding: 20px 10px;
}

.reseaux {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  margin: 5px 60px;
}

.element {
  width: 40px;
  padding-top: 10px;
}

footer h2 {
  font-size: 39px;
}

footer h3 {
  text-align: center;
  color: white;
}

footer p {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin: 0 10px 10px 10px;
  text-align: center;
}